*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
packages
App_Data
*.GhostDoc.xml
*.Cache
_references.js
Thumbs.db
UpgradeLog*.htm
*sln.ide
.vs/
Final-Release/
Final-Release-tools/
Testers/UnitTests/MSL.Core/Extensibility/TestScripts/extensions.dll
Core/Resources/JavaScript/chromescript.js
Core/Resources/JavaScript/domparserview.generated.js
Core/Resources/JavaScript/domxssview.generated.js
*.orig
*.psess
*.vspx
licenses.licx
Coverage/nunit2
Coverage/UnitTestBinaries/*
CoverageArtifacts*
CoverageResults
Coverage/*.trx
docs-html/
